.delivery {
    &__inner {
        padding: rem(120) 0 rem(50);
        @media (max-width:$mobile){
            padding: rem(85) 0 rem(40);  
        }
    }
    &__title {
        padding: rem(18) 0 rem(40);
        @media (max-width:$mobile){
             padding-bottom: rem(10); 
        }
    }
    &__subtitle {
         padding:  rem(40) 0 rem(30);
         @media (max-width:$mobile){
             padding:  rem(25) 0 rem(20);  
         }
    }
    &__text {
        padding-bottom: rem(20);
        font-weight: 400;
    }
    &__map {
        padding-top: rem(40);
        iframe {
            width: 100%;
            @include adaptiveValue("height", 600, 350);
            
        }
    }
}
