//====================================================================================================
.header {
	position: fixed;
	width: 100%;
	z-index: 10;
	background-color: $colorWhite;
	box-shadow: 0px rem(-3) rem(14) 0px rgba(79, 79, 79, 0.39);
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem(10) 0;
	}
	&__menu {
	}
	&__cart {
		display: flex;
		align-items: center;
		margin-left: rem(20);
		position: relative;
		@media (max-width: $mobile) {
			order: 2;
		}
	}
	&__cart-icon {
		padding: rem(5);
		font-size: rem(25);
		color: $mainColor;
	}
	&__cart-total {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: $colorGreen;
		position: absolute;
		top: rem(2);
		left: rem(20);
		font-size: rem(10);
		color: $colorWhite;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	&__cart-text {
		padding: rem(10);
		white-space: nowrap;
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.logo {
	width: rem(150);
	img {
		max-width: 100%;
	}
	@media (max-width: $mobile) {
		order: 1;
		margin: 0 auto;
		padding: 0 rem(30);
	}
}
.menu {
	display: flex;
	margin-right: auto;
	@media (max-width: $mobile) {
		margin-right: rem(10);
	}
	&__icon {
	}
	&__body {
		left: -100%;
		transition: left 0.5s ease 0s;
		@media (max-width: $mobile) {
			position: fixed;
			width: rem(200);
			height: 100%;
			top: 0;
			overflow: auto;
			background-color: $mainColor;
			padding: rem(50) rem(15) rem(50) rem(20);
			z-index: 4;
			color: $colorWhite;
			&::before {
				content: "";
				position: fixed;
				width: rem(200);
				height: rem(50);
				left: -100%;
				top: 0;
				background-color: $mainColor;
			}
			.menu-open & {
				left: 0;

				&::before {
					left: 0;
					transition: left 0.5s ease 0s;
				}
			}
			.menu__link {
				color: $colorWhite;
			}
		}
		&-cat {
			display: none;
			@media (max-width: $mobile) {
				display: block;
				color: $colorWhite;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		a {
			font-size: rem(20);
		}
		&-cat {
			@media (max-width: $mobile) {
				li:not(:first-child) {
					margin-left: rem(20);
					a {
						text-transform: capitalize;
						font-size: rem(18);
					}
				}
			}
		}
	}

	a {
		display: inline-flex;
		text-transform: uppercase;
		line-height: 1.6;
		@include adaptiveValue("margin-left", 60, 20);
		@media (max-width: $mobile) {
			padding: rem(8) rem(5);
			margin-left: 0;
		}
		transition: all 0.5s ease 0s;
		@media (any-hover: hover) and (any-pointer: fine) {
			&:hover {
				text-decoration: underline;
				transition: all 0.5s ease 0s;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}

			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
				background-color: $colorWhite;
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
				background-color: $colorWhite;
			}
		}
	}
}
