.offer {
    h4{
         padding: rem(18) 0;
        @media (max-width:$mobile){
             padding-bottom: rem(10); 
        }
    }
    p{
        padding-bottom: rem(20);
        font-size: rem(16);
        font-weight: 400;
    }
    &__inner {
        padding: rem(120) 0 rem(50);
        @media (max-width: $mobile) {
            padding: rem(85) 0 rem(40);
        }
    }
    &__title {
        padding: rem(18) 0 rem(40);
        @media (max-width: $mobile) {
            padding-bottom: rem(10);
        }
    }
}