.product {
    &__wrap {
        margin-left: rem(200);
        padding: rem(100) 0 rem(50) rem(30);
        @media (max-width: $tablet) {
            padding-top: rem(190);
            padding-left: 0;
            margin-left: 0;
        }
        @media (max-width: $mobile) {
            padding: rem(150) 0 rem(40);
        }
    }
    &__decor {
        position: fixed;
        top: rem(70);
        left: 0;
        height: calc(100% - rem(70));
        width: rem(200);
        overflow: hidden;

        img {
            transform: scale(1.2) rotate(90deg);
            transform-origin: 9% 37%;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            height: auto;
            width: auto;
        }
        @media (max-width: $tablet) {
            position: absolute;
            width: 100%;
            height: rem(100);
            img {
                transform: scale(1.2) rotate(180deg);
                transform-origin: 25% 37%;
            }
        }
        @media (max-width: $mobile) {
            top: rem(55);
            height: rem(80);
        }
    }
    &__title {
        margin: rem(20) 0 rem(28);
    }
    &__inner {
        display: flex;
        padding-bottom: rem(60);
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
}
.product-gallery {
    width: 45%;
    // min-width: rem(320);
    @media (max-width: $mobile) {
        width: 100%;
        margin-bottom: rem(20);
    }
    &__img {
        width: 100%;
        padding: 0 0 100% 0;
        @media (max-width: $mobile) {
            margin: 0 -15px;
            width: calc(100vw + 30px);
        }
    }
    &__items {
        height: rem(72);
        margin: rem(10);
        display: flex;
        justify-content: center;
    }
    &__item {
        width: rem(72);
        margin: 0 auto;

        &.active {
            border: 1px solid $colorCopy;
        }
        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                border: 1px solid $colorCopy;
            }
        }
        img {
            padding: rem(8);
            max-width: 100%;
            @media (max-width: $mobile) {
                padding: rem(5);
            }
        }
    }
}
.product-content {
    width: 55%;
    margin-left: rem(30);
    @media (max-width: $mobile) {
        width: 100%;
        margin-left: 0;
    }
    &__price {
        font-size: rem(36);
        margin-bottom: rem(10);
        @media (max-width: $mobile) {
            font-size: rem(24);
            margin-bottom: rem(5);
        }
    }
    &__status {
        display: inline-block;
        color: $colorGreen;
        font-weight: 400;
        margin-bottom: rem(20);
        @media (max-width: $mobile) {
            margin-bottom: rem(10);
        }
    }
    & .quantity{
        margin-bottom: rem(30);
         width: rem(240);
    }
}

.product-discription {
    font-weight: 400;
    p {
        margin-bottom: rem(15);
        &:first-child {
            text-transform: uppercase;
        }
        @media (max-width: $mobile) {
            margin-bottom: rem(10);
        }
    }
}
.product-select {
    width: rem(260);
    margin-bottom: rem(30);
    &__form {
        display: flex;
        align-items: center;
        padding-bottom: rem(10);
        &:first-child {
            padding-bottom: rem(20);
        }
        label{
            cursor: pointer;
        }
    }
    &__form-label {
        flex: 0 0 90px;
       
    }
    &__btn {
        border-bottom: 1px dashed $colorCopy;
        display: inline-block;
        transform: translateX(100%);
        cursor: pointer;
    }
}

.radio-size {
    &:not(:last-child) {
        margin-right: rem(10);
    }
    label {
        position: relative;
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }
    /* для элемента input c type="radio" */
    &__custom {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label связанного с .radio__custom */
    &__custom + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    /* создание в label псевдоэлемента  before со следующими стилями */
    &__custom + label::before {
        content: "";
        display: inline-block;
        width: rem(45);
        height: rem(30);
        border: 1px solid $colorCopy;
    }
    /* стили для радиокнопки, находящейся в состоянии checked */
    &__custom:checked + label::before {
        background-color: $colorGrey;
    }
    /* стили для радиокнопки, находящейся в состоянии disabled */
    &__custom:disabled + label::before {
        background-color: $colorGreyLight;
        border-color: $colorGreyLight;
    }
    &__custom:checked + label {
        color: $colorWhite;
    }
}
.radio-color {
    &__custom {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label связанного с .radio__custom */
    &__custom + label {
        display: inline-flex;
        align-items: center;
        user-select: none;
        margin-right: rem(20);
        position: relative;
    }
    /* создание в label псевдоэлемента  before со следующими стилями */
    &__custom + label::before {
        content: "";
        width: rem(24);
        height: rem(24);
        border-radius: 100%;
    }
    &__custom + label::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: rem(16);
        height: rem(16);
        border-radius: 100%;
        background-color: currentColor;
    }
    /* стили для радиокнопки, находящейся в состоянии checked */
    &__custom:checked + label::before {
        border: 1px solid currentColor;
    }
}

.quantity {
    display: flex;
    align-items: center;
   
    label {
        margin-right: rem(40);
    }
    &__counter {
        display: flex;
        align-items: center;
    }
    input {
        width: rem(35);
        height: rem(27);
        border: 1px solid $colorCopy;
        text-align: center;
    }
    &__button {
        font-size: rem(16);
        width: rem(35);
        height: rem(27);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &_minus {
        }
        &_plus {
        }
    }
}
.product-featured {
    &__title {
        margin: rem(20) 0 rem(30);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        h4 {
            font-size: rem(16);
        }
        .card:hover .card__content {
            .card__content-title,
            .card__content-priсe,
            .card__content-status {
                transform: none;
                transition: none;
            }
        }
        .card__content {
            padding: rem(15) rem(10) rem(10);
        }
        .card__content-cart {
            opacity: 1;
            transition: none;
            right: rem(10);
            bottom: rem(10);
        }
        .card__content-priсe {
            font-size: rem(18);
        }
        @media (max-width: $mobile) {
            display: block;
            .card {
                margin-bottom: rem(30);
            }
        }
    }

    &__item {
        flex: 0 0 32%;
        margin-bottom: rem(10);
    }
}
